<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website - About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />

</head>
<body>
    <h1>Dominic Hayden</h1>
    <p>During college, it was not easy for me to make friends because I was shy and quiet. It was not until after college when I started working at Repo, that my relationships with others changed for the better. At work, I was able to open up more as well as learn how to communicate better with others by using body language and tone of voice rather than words alone. This resulted in me being promoted from a part-time employee into an assistant manager position within two years of working there full-time!</p>
    <img src="{{ url_for('static', filename='images/pic.png') }}" alt="Your Image">

</body>
</html>

